<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Registration</title>
    <style>
        .errorlist{
            list-style-type: none;
            color: red;
            padding: 0px;
            margin: 0px;
            font-size: 15px;
        }
    </style>
</head>
<body>
    <form action="" method="POST" novalidate>
        {% csrf_token %}
        {{form.non_faild_errors}}
        {% for faild in form %}
        <div>
            {{faild.label_tag}} {{faild}}
            {% for error in field.error %}
            <span class="errorlist">{{error}}</span>
            {% endfor %}
        </div>
        {% endfor %}
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>